@import './resetter';

html {
    scroll-behavior: smooth;
    // scroll-padding: 1rem;
}

body {
    isolation: isolate;
}

.logo-title {
    color: $orange-text;
    @include fredokaFont(medium);
    & > span {
        color: $cyan-text;
        @include fredokaFont(medium);
        @include fontSizeClamp($h3-m, $h3-d); 
        @include lineHeightClamp($h3-line-height-m, $h3-line-height-d);
    }
}

.blobs-container {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & > .blobs-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        isolation: isolate;

        & > .blobs {
            position: absolute;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            object-fit: contain;
            aspect-ratio: 1;
            height: fit-content;
    
            &.blobs1 { background-image: url("../../img/blobs/blob1.svg"); width: 525px; top: 600px; left: -245px; }
            &.blobs2 { background-image: url("../../img/blobs/blob2.svg"); width: 583px; top: 910px; right: -245px; }
            &.blobs3 { background-image: url("../../img/blobs/blob3.svg"); width: 277px; top: 1740px; right: 262px; }
            &.blobs4 { background-image: url("../../img/blobs/blob4.svg"); width: 305px; top: 3039px; left: -85px; }
            &.blobs5 { background-image: url("../../img/blobs/blob5.svg"); width: 224px; top: 3922px; right: -60px; }
            &.blobs6 { background-image: url("../../img/blobs/blob6.svg"); width: 644px; bottom: -556px; left: 400px; }
        }
    }
}


.wrapper {
    z-index: 2;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 $body-space;

    & > header {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        
        & > nav {
            & > h3 { grid-column: 1 / 2; }
            & > ul { grid-column: 2 / 3; }
        }
    }
    
    & > main {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        gap: $section-space;

        & > section {
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: 462px 511px;
            grid-gap: 50px;


            &:nth-child(1){
                margin-top: $section-space;
            }

            &:last-child {
                margin-bottom: $section-space;
            }

            &:has(.projects-title){
                & > .projects-title > h2 {
                    color: $orange-text;
                }
            }
            &:has(.about-title){
                & > .about-title > h2 {
                    color: $orange-text;
                }
            }
            &:has(.education-title){
                & > .education-title > h2 {
                    color: $orange-text;
                }
            }


            // for grid
            // hero section
            &:nth-child(1){
                & > .hero-content-container { grid-column: 1 / 2; }
                & > .hero-image-container { grid-column: 2 / 3; }
            }
            // projects
            &:nth-child(2){
                & > .projects-title { grid-column: 2 / 3; grid-row: 1 / 2; }
                & > .projects-content { grid-column: 1 / -1; grid-row: 2 / 3; }

                & > .projects-content {
                    & > .project-card { 
                        display: grid;
                        grid-template-columns: 462px 511px;
                        grid-gap: 50px;

                        & > .project-card-image-container { grid-column: 1 / 2; }
                        & > .project-card-content-container { grid-column: 2 / 3; }
                    }
                }
            }
            // about me
            &:nth-child(3){
                & > .about-title { grid-column: 2 / 3; grid-row: 1 / 2; }
                & > .about-wrapper { grid-column: 1 / -1; grid-row: 2 / 3; }

                & > .about-wrapper {
                    display: grid;
                    grid-template-columns: 462px 511px;
                    grid-gap: 50px;

                    & > .about-image-container { grid-column: 1 / 2; }

                    & > .about-content-container { grid-column: 2 / 3; }
                }
            }
            // skills
            &:nth-child(4){
                & > .skills-container {
                    grid-column: 1 / -1;
                    grid-row: 1 / 2;
                    display: grid;
                    grid-template-columns: 462px 511px;
                    grid-gap: 50px;

                    & > .skills-image-container { grid-column: 1 / 2; }
                    & > .skills-content-container { grid-column: 2 / 3; }
                }
            }
            // education
            &:nth-child(5){
                & > .education-title { grid-column: 2 / 3; grid-row: 1 / 2; }
                & > .education-wrapper { grid-column: 1 / -1; grid-row: 2 / 3; }

                & > .education-wrapper {
                    display: grid;
                    grid-template-columns: 462px 511px;
                    grid-gap: 150px;

                    & > .education-content-top { 
                        grid-column: 1 / -1; 
                        grid-row: 1 / 2; 

                        display: grid;
                        grid-template-columns: 462px 511px;
                        grid-gap: 50px;
                    }
                    & > .education-content-bottom { 
                        grid-column: 1 / -1; 
                        grid-row: 2 / 3; 

                        display: grid;
                        grid-template-columns: 462px 511px;
                        grid-gap: 50px;
                    }
                }
            }
            // sayings
            &:nth-child(6){
                & > .sayings-container { 
                    grid-column: 1 / -1; 
                    grid-row: 1 / 2;
                    display: grid;
                    place-items: center;
                }
            }

        }
    }
    & > footer {
        grid-column: 1 / -1;
        grid-row: 3 / 4;

        & > .footer-content {
            display: grid;
            grid-template-columns: 462px 511px;
            grid-gap: 50px;

            & > .footer-content-left { grid-column: 1 / 2; }
            & > .footer-content-right { grid-column: 2 / 3; }
        }
    }


    // dynamic styling
    & > header {
        padding-top: 20px;

        & > nav {
            display: grid;
            grid-template-columns: 462px 511px;
            grid-gap: 50px;

            & > ul {
                display: flex;
                justify-content: space-between;

                & > li {
                    & > a {

                    }

                    &.active {
                        & > a {
                            color: $orange-text;
                        }
                    }
                }
            }
        }
    }

    & > main {

        // Hero Banner
        & > section:nth-child(1){

            & > .hero-content-container {
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: relative;

                & > .hero-content {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    width: 100%;

                    & > p {
                        color: $light-grey-text;
                        width: 80%;
                    }

                    & > button {
                        padding: 15px 50px;
                        border-radius: 5px;
                        background-color: $cyan-bg;
                        color: $white-text;
                        width: fit-content;
                    }
                }
            }

            & > .hero-image-container {
                position: relative;
                height: 450px;

                & > .hero-image {
                    height: 100%;
                    position: relative;
                    transform: translateY(0px);

                    & > img {
                        height: 100%;
                        background-size: contain;
                    }
                }
            }
        }

        // Projects
        & > section:nth-child(2){

            & > .projects-content {
                display: flex;
                flex-direction: column;
                gap: 60px;
                position: relative;
                width: 100%;

                & > .project-card {
                    position: relative;
                    width: 100%;

                    & > .project-card-image-container {
                        position: relative;
                        width: 100%;

                        & > img {
                            object-fit: contain;
                            width: 95%;
                        }
                    }

                    & > .project-card-content-container {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        position: relative;

                        & > p {
                            width: 70%;
                            color: $light-grey-text;
                        }

                        & > .language-used {
                            display: flex;
                            gap: 20px;

                            & > span {
                                width: 24px;
                                height: 24px;
                                border-radius: 5px;
                                background-size: cover;
                                object-fit: cover;

                                &:nth-child(1){ background-image:url("../../img/icons/html.png"); }
                                &:nth-child(2){ background-image:url("../../img/icons/css.png"); }
                                &:nth-child(3){ background-image:url("../../img/icons/javascript.png"); }
                            }
                        }
                    }
                }
            }
        }
        
        // // About Me
        & > section:nth-child(3){

            & > .about-wrapper {
                & > .about-image-container {
                    position: relative;

                    & > .about-image {
                        position: relative;
                        height: 500px;
                        width: 100%;
    
                        & > img {
                            height: 100%;
                            object-fit: contain;
                            position: absolute;
                            top: -20px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
    
                & > .about-content-container {
                    position: relative;
                    width: 100%;
                    
                    & > .about-content {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        position: relative;
                        width: 100%;

                        & > h4 {
                            
                        }
    
                        & > p {
                            color: $light-grey-text;
                        }
    
                        & > .hobbies {
                            display: flex;
                            gap: 30px;
    
                            & > span {
                                width: 80px;
                                height: 80px;
                                position: relative;
                                border-radius: 15px;

                                &::after { 
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    background-size: cover;
                                    height: 100%;
                                    width: 100%;
                                }

                                &:nth-child(1) { &::after { background-image: url("../../img/icons/game.png"); }}
                                &:nth-child(2) { &::after { background-image: url("../../img/icons/code.png"); }}
                                &:nth-child(3) { &::after { background-image: url("../../img/icons/film.png"); }}
                                &:nth-child(4) { &::after { background-image: url("../../img/icons/music.png"); }}
                            }
                        }
                    }
                }
            }
        }
        
        // // Skills
        & > section:nth-child(4){
            & > .skills-container {
                overflow-x: hidden;
                position: relative;
                isolation: isolate;

                & > .skills-image-container {
                    position: relative;
                    z-index: 2;

                    & > .skills-image {
                        position: relative;
                        height: 400px;
                        width: 100%;

                        & > img {
                            height: 100%;
                            object-fit: contain;
                            position: absolute;
                            left: 55%;
                            transform: translateX(-50%);
                        }
                    }
                }
                // may libre kanma bang toothbrush
                & > .skills-content-container {
                    width: 100%;
                    display: flex;
                    align-self: flex-end;
                    overflow-x: hidden;
                    padding-bottom: 20px;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background-color: $violet-bg;
                        height: 275px;
                        width: 100%;
                        border-radius: 15px;
                        z-index: 1;
                    }

                    & > .skills-content {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        position: relative;
                        width: 100%;
                        padding-right: 90px;
                        z-index: 2;

                        & > p {
                            width: 90%;
                            color: $light-grey-text;
                        }

                        & > .skills {
                            position: relative;
                            overflow-x: auto;
                            width: 100%;

                            /* width */
                            &::-webkit-scrollbar {
                                width: 0px;
                            }

                            & > .language-used-scrollable {
                                min-width: max-content;
                                display: flex;
                                gap: 20px;

                                & > span {
                                    display: inline-block;
                                    width: 65px;
                                    height: 65px;
                                    border-radius: 10px;
                                    background-size: cover;
                                    object-fit: cover;

                                    &:nth-child(1){ background-image: url("../../img/icons/html-skill.png"); }
                                    &:nth-child(2){ background-image: url("../../img/icons/css-skill.png"); }
                                    &:nth-child(3){ background-image: url("../../img/icons/javascript-skill.png"); }
                                    &:nth-child(4){ background-image: url("../../img/icons/sass.png"); }
                                    &:nth-child(5){ background-image: url("../../img/icons/figma.png"); }
                                    &:nth-child(6){ background-image: url("../../img/icons/sql.png"); }
                                    &:nth-child(7){ background-image: url("../../img/icons/java.png"); }
                                    &:nth-child(8){ background-image: url("../../img/icons/git.png"); }
                                }
                            }

                        }
                    }
                }
            }
        }
        
        // // Education
        & > section:nth-child(5){
            & > .education-wrapper {

                & > .education-content-top {

                    & > .content-top-info {
                        display: flex;
                        flex-direction: column;
                        gap: 50px;
                        justify-content: center;

                        & > .primary,
                        .secondary {
                            width: 70%;
                            display: flex;
                            flex-direction: column;
                            align-self: flex-end;
                            gap: 30px;

                            & > span {
                                color: $light-grey-text;
                            }
                        }
                    }

                    & > .content-top-image-container {
                        display: flex;
                        justify-content: flex-end;

                        & > img {
                            height: 480px;
                            object-fit: cover;
                            
                        }
                    }

                }

                & > .education-content-bottom {

                    & > .content-bottom-image-container {
                        display: flex;

                        & > img {
                            height: 405px;
                            object-fit: cover;
                        }
                    }

                    & > .content-bottom-info {
                        display: flex;
                        flex-direction: column;
                        gap: 50px;
                        justify-content: center;

                        & > .shs,
                        .tertiary {
                            width: 90%;
                            display: flex;
                            flex-direction: column;
                            gap: 30px;
                            padding-left: 80px;

                            & > span {
                                color: $light-grey-text;
                            }
                        }
                    }
                }
            }
        }
        
        // // Sayings
        & > section:nth-child(6){
            & > .sayings-container {
                height: 300px;
                background-color: $light-orange-bg;
                border-radius: 15px;
                padding: 100px 150px;

                & > h3 {
                    text-align: center;
                    color: $orange-text;
                }
            }
        }
    }

    & > footer {
        padding-bottom: $footer-space;

        & > .footer-content {
            & > .footer-content-left {
                display: flex;
                justify-content: space-between;
                gap: 50px;

                & > .footer-content-container1 { flex-grow: 3; }
                & > .footer-content-container2 { flex-grow: 1; flex-basis: 200px; }

                & > .footer-content-container1 { 
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
    
                    & > .container1-top {
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        width: 100%;
                        & > p {
                            color: $light-grey-text;
                        }
                    }
    
                    & > .container1-bottom {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        position: relative;
                        width: 100%;
    
                        & > .container-title {
                            display: flex;
                            height: 65px;
                            & > h6 { 
                                @include fredokaFont(medium);
                                align-self: end;
                            }
                        }
    
                        & > p {
                            color: $light-grey-text;
                            width: 85%;
                        }
                    }
                }

                & > .footer-content-container2 {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
    
                    & > .container-title {
                        display: flex;
                        height: 65px;
                        & > h6 { 
                            @include fredokaFont(medium);
                            align-self: end;
                        }
                    }
    
                    & > a {
                        color: $light-grey-text;
                        &.active {
                            color: $orange-text;
                        }
                    }
                }
            }

            & > .footer-content-right {
                display: flex;
                justify-content: space-between;
                gap: 50px;

                & > .footer-content-container3 { flex-grow: 1; flex-basis: 270px; }
                & > .footer-content-container4 { flex-grow: 3; }

                & > .footer-content-container3 {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
    
                    & > .container-title {
                        display: flex;
                        height: 65px;
    
                        & > h6 { 
                            @include fredokaFont(medium);
                            align-self: end;
                        }
                    }
    
                    & > p {
                        word-break: break-all;
                        color: $light-grey-text;
                    }
                }
                & > .footer-content-container4 {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
    
                    & > .container-title {
                        display: flex;
                        height: 65px;
    
                        & > h4 { 
                            @include fredokaFont(regular);
                            align-self: end;
                        }
                    }
    
                    & > p {
                        color: $light-grey-text;
                    }
    
                    & > form {
                        position: relative;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
    
                        & > textarea {
                            width: 100%;
                            border-radius: 5px;
                            background-color: $empty-grey-bg;
                            color: $black-text;
                            box-sizing: border-box;
                            padding: 15px 20px;
                            border: none;
                            
                            &:focus {
                                outline: none;
                            }
                        }
    
                        & > .email-field {
                            width: 100%;
                            position: relative;
                            display: flex;
    
                            & > input {
                                background-color: $empty-grey-bg;
                                padding: 10px 20px;
                                box-sizing: border-box;
                                border-top-left-radius: 5px;
                                border-bottom-left-radius: 5px;
                                width: 80%;
                            }
    
                            & > button {
                                width: 20%;
                                border-top-right-radius: 5px;
                                border-bottom-right-radius: 5px;
                                box-sizing: border-box;
                                background-color: $cyan-bg;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: relative;
                                padding: 14px;

                                & > .submit-icon {
                                    position: relative;
                                    height: 100%;
                                    width: 100%;

                                    &::before {
                                        content: '';
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        background-image: url("../../img/icons/submit.png");
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

