@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap");
:root {
  font-size: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000;
  font-weight: 400;
}

html {
  min-height: 100vh;
  position: relative;
}

body {
  width: 100%;
  height: auto;
  position: relative;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

input[type=search],
input[type=text],
input[type=email] {
  border: none;
  outline: none;
}

header {
  z-index: 3;
  position: relative;
  width: 100%;
}

main {
  z-index: 2;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  z-index: 1;
  position: relative;
  width: 100%;
}

h1 {
  font-size: clamp(4rem, 3.125vw, 6rem);
  line-height: clamp(6rem, 3.3854166667vw, 6.5rem);
}

h2 {
  font-size: clamp(3.4rem, 2.34375vw, 4.5rem);
  line-height: clamp(5.6rem, 3.2291666667vw, 6.2rem);
}

h3 {
  font-size: clamp(2.8rem, 1.9791666667vw, 3.8rem);
  line-height: clamp(4.2rem, 2.8645833333vw, 5.5rem);
}

h4 {
  font-size: clamp(2.2rem, 1.6666666667vw, 3.2rem);
  line-height: clamp(3.4rem, 2.0833333333vw, 4rem);
}

h5 {
  font-size: clamp(1.8rem, 1.4583333333vw, 2.8rem);
  line-height: clamp(2.4rem, 1.8229166667vw, 3.5rem);
}

h6 {
  font-size: clamp(1.6rem, 0.9375vw, 1.8rem);
  line-height: clamp(2rem, 1.4583333333vw, 2.8rem);
}

p,
b,
i,
a,
ol,
ul,
li,
button,
div,
span {
  font-size: clamp(1.6rem, 0.9375vw, 1.8rem);
  line-height: clamp(2rem, 1.4583333333vw, 2.8rem);
}

textarea,
input {
  font-size: clamp(1.4rem, 0.9375vw, 1.8rem);
  line-height: clamp(2rem, 1.4583333333vw, 2.8rem);
}

::-moz-placeholder {
  color: #D7D7D7;
  opacity: 1; /* Firefox */
}

::placeholder {
  color: #D7D7D7;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #D7D7D7;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #D7D7D7;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  isolation: isolate;
}

.logo-title {
  color: #FF9C40;
  font-weight: 500;
}
.logo-title > span {
  color: #64E6F1;
  font-weight: 500;
  font-size: clamp(2.8rem, 1.9791666667vw, 3.8rem);
  line-height: clamp(4.2rem, 2.8645833333vw, 5.5rem);
}

.blobs-container {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.blobs-container > .blobs-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  isolation: isolate;
}
.blobs-container > .blobs-wrapper > .blobs {
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1;
  height: -moz-fit-content;
  height: fit-content;
}
.blobs-container > .blobs-wrapper > .blobs.blobs1 {
  background-image: url("../../img/blobs/blob1.svg");
  width: 525px;
  top: 600px;
  left: -245px;
}
.blobs-container > .blobs-wrapper > .blobs.blobs2 {
  background-image: url("../../img/blobs/blob2.svg");
  width: 583px;
  top: 910px;
  right: -245px;
}
.blobs-container > .blobs-wrapper > .blobs.blobs3 {
  background-image: url("../../img/blobs/blob3.svg");
  width: 277px;
  top: 1740px;
  right: 262px;
}
.blobs-container > .blobs-wrapper > .blobs.blobs4 {
  background-image: url("../../img/blobs/blob4.svg");
  width: 305px;
  top: 3039px;
  left: -85px;
}
.blobs-container > .blobs-wrapper > .blobs.blobs5 {
  background-image: url("../../img/blobs/blob5.svg");
  width: 224px;
  top: 3922px;
  right: -60px;
}
.blobs-container > .blobs-wrapper > .blobs.blobs6 {
  background-image: url("../../img/blobs/blob6.svg");
  width: 644px;
  bottom: -556px;
  left: 400px;
}

.wrapper {
  z-index: 2;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 min(440px, 23.2558139535vw);
}
.wrapper > header {
  grid-column: 1/-1;
  grid-row: 1/2;
}
.wrapper > header > nav > h3 {
  grid-column: 1/2;
}
.wrapper > header > nav > ul {
  grid-column: 2/3;
}
.wrapper > main {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.wrapper > main > section {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 462px 511px;
  grid-gap: 50px;
}
.wrapper > main > section:nth-child(1) {
  margin-top: 80px;
}
.wrapper > main > section:last-child {
  margin-bottom: 80px;
}
.wrapper > main > section:has(.projects-title) > .projects-title > h2 {
  color: #FF9C40;
}
.wrapper > main > section:has(.about-title) > .about-title > h2 {
  color: #FF9C40;
}
.wrapper > main > section:has(.education-title) > .education-title > h2 {
  color: #FF9C40;
}
.wrapper > main > section:nth-child(1) > .hero-content-container {
  grid-column: 1/2;
}
.wrapper > main > section:nth-child(1) > .hero-image-container {
  grid-column: 2/3;
}
.wrapper > main > section:nth-child(2) > .projects-title {
  grid-column: 2/3;
  grid-row: 1/2;
}
.wrapper > main > section:nth-child(2) > .projects-content {
  grid-column: 1/-1;
  grid-row: 2/3;
}
.wrapper > main > section:nth-child(2) > .projects-content > .project-card {
  display: grid;
  grid-template-columns: 462px 511px;
  grid-gap: 50px;
}
.wrapper > main > section:nth-child(2) > .projects-content > .project-card > .project-card-image-container {
  grid-column: 1/2;
}
.wrapper > main > section:nth-child(2) > .projects-content > .project-card > .project-card-content-container {
  grid-column: 2/3;
}
.wrapper > main > section:nth-child(3) > .about-title {
  grid-column: 2/3;
  grid-row: 1/2;
}
.wrapper > main > section:nth-child(3) > .about-wrapper {
  grid-column: 1/-1;
  grid-row: 2/3;
}
.wrapper > main > section:nth-child(3) > .about-wrapper {
  display: grid;
  grid-template-columns: 462px 511px;
  grid-gap: 50px;
}
.wrapper > main > section:nth-child(3) > .about-wrapper > .about-image-container {
  grid-column: 1/2;
}
.wrapper > main > section:nth-child(3) > .about-wrapper > .about-content-container {
  grid-column: 2/3;
}
.wrapper > main > section:nth-child(4) > .skills-container {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 462px 511px;
  grid-gap: 50px;
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-image-container {
  grid-column: 1/2;
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container {
  grid-column: 2/3;
}
.wrapper > main > section:nth-child(5) > .education-title {
  grid-column: 2/3;
  grid-row: 1/2;
}
.wrapper > main > section:nth-child(5) > .education-wrapper {
  grid-column: 1/-1;
  grid-row: 2/3;
}
.wrapper > main > section:nth-child(5) > .education-wrapper {
  display: grid;
  grid-template-columns: 462px 511px;
  grid-gap: 150px;
}
.wrapper > main > section:nth-child(5) > .education-wrapper > .education-content-top {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 462px 511px;
  grid-gap: 50px;
}
.wrapper > main > section:nth-child(5) > .education-wrapper > .education-content-bottom {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 462px 511px;
  grid-gap: 50px;
}
.wrapper > main > section:nth-child(6) > .sayings-container {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  place-items: center;
}
.wrapper > footer {
  grid-column: 1/-1;
  grid-row: 3/4;
}
.wrapper > footer > .footer-content {
  display: grid;
  grid-template-columns: 462px 511px;
  grid-gap: 50px;
}
.wrapper > footer > .footer-content > .footer-content-left {
  grid-column: 1/2;
}
.wrapper > footer > .footer-content > .footer-content-right {
  grid-column: 2/3;
}
.wrapper > header {
  padding-top: 20px;
}
.wrapper > header > nav {
  display: grid;
  grid-template-columns: 462px 511px;
  grid-gap: 50px;
}
.wrapper > header > nav > ul {
  display: flex;
  justify-content: space-between;
}
.wrapper > header > nav > ul > li.active > a {
  color: #FF9C40;
}
.wrapper > main > section:nth-child(1) > .hero-content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.wrapper > main > section:nth-child(1) > .hero-content-container > .hero-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.wrapper > main > section:nth-child(1) > .hero-content-container > .hero-content > p {
  color: #5F5F5F;
  width: 80%;
}
.wrapper > main > section:nth-child(1) > .hero-content-container > .hero-content > button {
  padding: 15px 50px;
  border-radius: 5px;
  background-color: #71D6DF;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
}
.wrapper > main > section:nth-child(1) > .hero-image-container {
  position: relative;
  height: 450px;
}
.wrapper > main > section:nth-child(1) > .hero-image-container > .hero-image {
  height: 100%;
  position: relative;
  transform: translateY(0px);
}
.wrapper > main > section:nth-child(1) > .hero-image-container > .hero-image > img {
  height: 100%;
  background-size: contain;
}
.wrapper > main > section:nth-child(2) > .projects-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
  width: 100%;
}
.wrapper > main > section:nth-child(2) > .projects-content > .project-card {
  position: relative;
  width: 100%;
}
.wrapper > main > section:nth-child(2) > .projects-content > .project-card > .project-card-image-container {
  position: relative;
  width: 100%;
}
.wrapper > main > section:nth-child(2) > .projects-content > .project-card > .project-card-image-container > img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 95%;
}
.wrapper > main > section:nth-child(2) > .projects-content > .project-card > .project-card-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.wrapper > main > section:nth-child(2) > .projects-content > .project-card > .project-card-content-container > p {
  width: 70%;
  color: #5F5F5F;
}
.wrapper > main > section:nth-child(2) > .projects-content > .project-card > .project-card-content-container > .language-used {
  display: flex;
  gap: 20px;
}
.wrapper > main > section:nth-child(2) > .projects-content > .project-card > .project-card-content-container > .language-used > span {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper > main > section:nth-child(2) > .projects-content > .project-card > .project-card-content-container > .language-used > span:nth-child(1) {
  background-image: url("../../img/icons/html.png");
}
.wrapper > main > section:nth-child(2) > .projects-content > .project-card > .project-card-content-container > .language-used > span:nth-child(2) {
  background-image: url("../../img/icons/css.png");
}
.wrapper > main > section:nth-child(2) > .projects-content > .project-card > .project-card-content-container > .language-used > span:nth-child(3) {
  background-image: url("../../img/icons/javascript.png");
}
.wrapper > main > section:nth-child(3) > .about-wrapper > .about-image-container {
  position: relative;
}
.wrapper > main > section:nth-child(3) > .about-wrapper > .about-image-container > .about-image {
  position: relative;
  height: 500px;
  width: 100%;
}
.wrapper > main > section:nth-child(3) > .about-wrapper > .about-image-container > .about-image > img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper > main > section:nth-child(3) > .about-wrapper > .about-content-container {
  position: relative;
  width: 100%;
}
.wrapper > main > section:nth-child(3) > .about-wrapper > .about-content-container > .about-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}
.wrapper > main > section:nth-child(3) > .about-wrapper > .about-content-container > .about-content > p {
  color: #5F5F5F;
}
.wrapper > main > section:nth-child(3) > .about-wrapper > .about-content-container > .about-content > .hobbies {
  display: flex;
  gap: 30px;
}
.wrapper > main > section:nth-child(3) > .about-wrapper > .about-content-container > .about-content > .hobbies > span {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 15px;
}
.wrapper > main > section:nth-child(3) > .about-wrapper > .about-content-container > .about-content > .hobbies > span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  height: 100%;
  width: 100%;
}
.wrapper > main > section:nth-child(3) > .about-wrapper > .about-content-container > .about-content > .hobbies > span:nth-child(1)::after {
  background-image: url("../../img/icons/game.png");
}
.wrapper > main > section:nth-child(3) > .about-wrapper > .about-content-container > .about-content > .hobbies > span:nth-child(2)::after {
  background-image: url("../../img/icons/code.png");
}
.wrapper > main > section:nth-child(3) > .about-wrapper > .about-content-container > .about-content > .hobbies > span:nth-child(3)::after {
  background-image: url("../../img/icons/film.png");
}
.wrapper > main > section:nth-child(3) > .about-wrapper > .about-content-container > .about-content > .hobbies > span:nth-child(4)::after {
  background-image: url("../../img/icons/music.png");
}
.wrapper > main > section:nth-child(4) > .skills-container {
  overflow-x: hidden;
  position: relative;
  isolation: isolate;
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-image-container {
  position: relative;
  z-index: 2;
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-image-container > .skills-image {
  position: relative;
  height: 400px;
  width: 100%;
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-image-container > .skills-image > img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container {
  width: 100%;
  display: flex;
  align-self: flex-end;
  overflow-x: hidden;
  padding-bottom: 20px;
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #F4EDFF;
  height: 275px;
  width: 100%;
  border-radius: 15px;
  z-index: 1;
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container > .skills-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
  padding-right: 90px;
  z-index: 2;
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container > .skills-content > p {
  width: 90%;
  color: #5F5F5F;
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container > .skills-content > .skills {
  position: relative;
  overflow-x: auto;
  width: 100%;
  /* width */
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container > .skills-content > .skills::-webkit-scrollbar {
  width: 0px;
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container > .skills-content > .skills > .language-used-scrollable {
  min-width: -moz-max-content;
  min-width: max-content;
  display: flex;
  gap: 20px;
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container > .skills-content > .skills > .language-used-scrollable > span {
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 10px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container > .skills-content > .skills > .language-used-scrollable > span:nth-child(1) {
  background-image: url("../../img/icons/html-skill.png");
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container > .skills-content > .skills > .language-used-scrollable > span:nth-child(2) {
  background-image: url("../../img/icons/css-skill.png");
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container > .skills-content > .skills > .language-used-scrollable > span:nth-child(3) {
  background-image: url("../../img/icons/javascript-skill.png");
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container > .skills-content > .skills > .language-used-scrollable > span:nth-child(4) {
  background-image: url("../../img/icons/sass.png");
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container > .skills-content > .skills > .language-used-scrollable > span:nth-child(5) {
  background-image: url("../../img/icons/figma.png");
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container > .skills-content > .skills > .language-used-scrollable > span:nth-child(6) {
  background-image: url("../../img/icons/sql.png");
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container > .skills-content > .skills > .language-used-scrollable > span:nth-child(7) {
  background-image: url("../../img/icons/java.png");
}
.wrapper > main > section:nth-child(4) > .skills-container > .skills-content-container > .skills-content > .skills > .language-used-scrollable > span:nth-child(8) {
  background-image: url("../../img/icons/git.png");
}
.wrapper > main > section:nth-child(5) > .education-wrapper > .education-content-top > .content-top-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}
.wrapper > main > section:nth-child(5) > .education-wrapper > .education-content-top > .content-top-info > .primary,
.wrapper > main > section:nth-child(5) > .education-wrapper > .education-content-top > .content-top-info .secondary {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 30px;
}
.wrapper > main > section:nth-child(5) > .education-wrapper > .education-content-top > .content-top-info > .primary > span,
.wrapper > main > section:nth-child(5) > .education-wrapper > .education-content-top > .content-top-info .secondary > span {
  color: #5F5F5F;
}
.wrapper > main > section:nth-child(5) > .education-wrapper > .education-content-top > .content-top-image-container {
  display: flex;
  justify-content: flex-end;
}
.wrapper > main > section:nth-child(5) > .education-wrapper > .education-content-top > .content-top-image-container > img {
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper > main > section:nth-child(5) > .education-wrapper > .education-content-bottom > .content-bottom-image-container {
  display: flex;
}
.wrapper > main > section:nth-child(5) > .education-wrapper > .education-content-bottom > .content-bottom-image-container > img {
  height: 405px;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper > main > section:nth-child(5) > .education-wrapper > .education-content-bottom > .content-bottom-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}
.wrapper > main > section:nth-child(5) > .education-wrapper > .education-content-bottom > .content-bottom-info > .shs,
.wrapper > main > section:nth-child(5) > .education-wrapper > .education-content-bottom > .content-bottom-info .tertiary {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 80px;
}
.wrapper > main > section:nth-child(5) > .education-wrapper > .education-content-bottom > .content-bottom-info > .shs > span,
.wrapper > main > section:nth-child(5) > .education-wrapper > .education-content-bottom > .content-bottom-info .tertiary > span {
  color: #5F5F5F;
}
.wrapper > main > section:nth-child(6) > .sayings-container {
  height: 300px;
  background-color: #FFF3E1;
  border-radius: 15px;
  padding: 100px 150px;
}
.wrapper > main > section:nth-child(6) > .sayings-container > h3 {
  text-align: center;
  color: #FF9C40;
}
.wrapper > footer {
  padding-bottom: 100px;
}
.wrapper > footer > .footer-content > .footer-content-left {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.wrapper > footer > .footer-content > .footer-content-left > .footer-content-container1 {
  flex-grow: 3;
}
.wrapper > footer > .footer-content > .footer-content-left > .footer-content-container2 {
  flex-grow: 1;
  flex-basis: 200px;
}
.wrapper > footer > .footer-content > .footer-content-left > .footer-content-container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.wrapper > footer > .footer-content > .footer-content-left > .footer-content-container1 > .container1-top {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.wrapper > footer > .footer-content > .footer-content-left > .footer-content-container1 > .container1-top > p {
  color: #5F5F5F;
}
.wrapper > footer > .footer-content > .footer-content-left > .footer-content-container1 > .container1-bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}
.wrapper > footer > .footer-content > .footer-content-left > .footer-content-container1 > .container1-bottom > .container-title {
  display: flex;
  height: 65px;
}
.wrapper > footer > .footer-content > .footer-content-left > .footer-content-container1 > .container1-bottom > .container-title > h6 {
  font-weight: 500;
  align-self: end;
}
.wrapper > footer > .footer-content > .footer-content-left > .footer-content-container1 > .container1-bottom > p {
  color: #5F5F5F;
  width: 85%;
}
.wrapper > footer > .footer-content > .footer-content-left > .footer-content-container2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.wrapper > footer > .footer-content > .footer-content-left > .footer-content-container2 > .container-title {
  display: flex;
  height: 65px;
}
.wrapper > footer > .footer-content > .footer-content-left > .footer-content-container2 > .container-title > h6 {
  font-weight: 500;
  align-self: end;
}
.wrapper > footer > .footer-content > .footer-content-left > .footer-content-container2 > a {
  color: #5F5F5F;
}
.wrapper > footer > .footer-content > .footer-content-left > .footer-content-container2 > a.active {
  color: #FF9C40;
}
.wrapper > footer > .footer-content > .footer-content-right {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container3 {
  flex-grow: 1;
  flex-basis: 270px;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container4 {
  flex-grow: 3;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container3 > .container-title {
  display: flex;
  height: 65px;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container3 > .container-title > h6 {
  font-weight: 500;
  align-self: end;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container3 > p {
  word-break: break-all;
  color: #5F5F5F;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container4 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container4 > .container-title {
  display: flex;
  height: 65px;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container4 > .container-title > h4 {
  font-weight: 400;
  align-self: end;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container4 > p {
  color: #5F5F5F;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container4 > form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container4 > form > textarea {
  width: 100%;
  border-radius: 5px;
  background-color: #F5F5F5;
  color: #000;
  box-sizing: border-box;
  padding: 15px 20px;
  border: none;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container4 > form > textarea:focus {
  outline: none;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container4 > form > .email-field {
  width: 100%;
  position: relative;
  display: flex;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container4 > form > .email-field > input {
  background-color: #F5F5F5;
  padding: 10px 20px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 80%;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container4 > form > .email-field > button {
  width: 20%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
  background-color: #71D6DF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 14px;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container4 > form > .email-field > button > .submit-icon {
  position: relative;
  height: 100%;
  width: 100%;
}
.wrapper > footer > .footer-content > .footer-content-right > .footer-content-container4 > form > .email-field > button > .submit-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../img/icons/submit.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}