// primary colors
$orange: #FF9C40;

// background-colors
$cyan-bg: #71D6DF;
$white-bg: #FFF;
$empty-grey-bg: #F5F5F5;
$violet-bg: #F4EDFF;
$black-bg: #000;
$light-orange-bg: #FFF3E1;
$input-text-box-bg: #F5F5F5;


// text colors
$black-text: #000;
$white-text: #fff;
$orange-text: #FF9C40;
$black-text: #000;
$cyan-text: #64E6F1;
$placeholder-text: #D7D7D7;

// secondary
$light-grey-text: #5F5F5F;

// blobs
$grey-blob: #E4E4E4;
$lighter-grey-blob: #F5F5F5;
$light-grey-blob: #F8F8F8;

$violet-blob: #F4EDFF;
$light-blob-violet: #E8DAFF;

$orange-blob: #FFECDA;
$light-orange-blob: #FFF0DA;
$lighter-orange-blob: #FFF3E1;