$h1-m: 40 / 10;
$h1-line-height-m: 60 / 10;
$h2-m: 34 / 10;
$h2-line-height-m: 56 / 10;
$h3-m: 28 / 10;
$h3-line-height-m: 42 / 10;
$h4-m: 22 / 10;
$h4-line-height-m: 34 / 10;
$h5-m: 18 / 10;
$h5-line-height-m: 24 / 10;
$h6-m: 16 / 10;
$h6-line-height-m: 20 / 10;

$normal-text-m: 14 / 10;
$normal-line-height-m: 20 / 10;

$hero-text-m: 50 / 10;
$hero-line-height-m: 70 / 10;

$hero-text-desc-m: 16 / 10;
$hero-text-desc-line-height-m: 24 / 10;